@media (max-width: 768px){
    .body_container{
        max-width: 90vw;
        padding: 0;
    }
}


.sub_navigation{
    padding: 0;
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.sub_navigation.non_mobile{
    border-bottom: 2px solid #E0E0E0; 
}

.sticky{
    position: sticky;
    top: 4.5em;
    z-index: 2;
}

@media (max-width: 1200px){
    .sub_navigation.non_mobile{
        display: none;
    }
    .sticky{
        top: 3.5em;
    }
    .body_section{
        justify-content: center;
    }
}

@media (min-width: 1200px){
    .sub_navigation.mobile{
        display: none;
        margin: 0 auto;
    }
}
    

.sub_navigation .nav-link{
    color: #8A8A8A;
    padding: 1em;
    border-bottom: 2px solid transparent;
}
.sub_navigation .nav-link.active{
    color: #000;
    border-bottom: 2px solid #000;
}

.sub_navigation.mobile .nav-link{
    color: #212529;
    font-weight: 700;
}

.sub_nav_buttons{
    display: flex;
    align-items: center;
}

.sub_nav_button button{
    height: 47px;
}

.sub_nav_button button,
.sub_nav_button button:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

.sub_nav_button{
    width: auto;
    margin-left: 1em;
}

.sub_nav_button.dropdown button.dropdown-toggle{
    background: #EDEEF0;
    color: #000;
    box-shadow: none;
}

.sub_nav_button button.dropdown-toggle:focus{
    background: #BFBFC0;
    box-shadow: none;
}

.show>.btn-primary.dropdown-toggle:focus{
    box-shadow: none;
}

.sub_nav_button.join_group button{
    padding: 0.5em 1em;
    background: #2F6CE5;
    font-size: 1em;
}

.sub_nav_button.join_group button.leave{
    background: transparent;
    color: #6A6A6B;
    border: solid 0.8px #989899;
}
.body_section{
    display: flex;
}
