.post_card{
    margin-top: 1em;
    width: 45em;
    max-width: 90vw;
    font-family: IBM Plex Sans, sans-serif;
}

@media (min-width: 768px) and (max-width: 1440px){
    .post_card{
        width: 40em;
    }
}

.post_card_img.card-img-top{
    height: 15em;
    object-fit: cover;
}

.post_card_category{
    color: #000;
    font-weight: 500;
}

.post_card_head{
    display: flex;
    justify-content: space-between;
}

.post_card_body_text{
    color: #5C5C5C;
    font-weight: 400;
}

.post_card .card-title{
    font-weight: 600;
}
.post_card_sub_detail{
    display: flex;
    font-weight: 500; 
}

.post_card_sub_detail>div{
    margin-right: 5em;
}

@media(max-width: 600px){
    .post_card_sub_detail>div{
        margin-right: 2em;
        font-size: 0.9em;
    }
}
.post_card_dropdown .dropdown-toggle::after{
    content: none;
}

.post_card_sub_detail svg{
    margin-right: 0.5em;
}

.post_card_action{
    width: 100%;
    margin: 1em 0;
    font-weight: 600;
    border: solid 0.7px #A9AEB8;
}

.post_card_action_Meetup{
    color: #E56135;
}
.post_card_action_Meetup:hover,
.post_card_action_Meetup:active{
    background-color: #E56135;
    border-color: #E56135;
}
.post_card_action_Job{
    color:#02B875;
}
.post_card_action_Job:hover,
.post_card_action_Job:active{
    background-color: #02B875;
    border-color: #02B875;
}

.post-card-bottom{
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.post-card-bottom-left .card-text{
    font-weight: 600;
    margin-left: 1em;
}

.post-card-bottom-left,
.post-card-bottom-right{
    display: flex;
    align-items: center;
}

.post-card-views{
    color: #525252;
    font-weight: 500;
}

.post-card-views svg{
    margin-right: 0.5em;
}

@media(max-width: 600px){
    .post-card-views{
        display: none;
    }
}

.post-card-share{
    background: #EDEEF0;
    padding: 0.5em 1em;
    border-radius: 4px;
    margin-left: 2em;
}
